.page-inner{
  max-width: 900px!important;
}

pre{
  display: inline-block;
  width: 65%;
  box-sizing: border-box;
}
pre + blockquote{
  display: inline-block;
  width: 34%;
  vertical-align: top;
  box-sizing: border-box!important;
  border-left: 1px dotted #ddd!important;
  margin-left: 2px!important;
}