pre{
  display: inline-block;
  width: 60%;
  box-sizing: border-box;
}
pre + blockquote{
  display: inline-block;
  width: 39%;
  vertical-align: top;
  box-sizing: border-box!important;
  border-left: 1px dotted #ddd!important;
  margin-left: 2px!important;
}